@page
@using LearningPhase2.AppCode
@model LearningPhase2.Pages.Companies.CompanyListModel
@{
}
<h1>Company Details</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-success" type="button" onclick="Submit()">All Employee</button>
</div>
<br />
@{
    Html.RenderPartialAsync("_Message");
}
<br />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/2.3.1/css/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
<table class="table table-striped " id="tblCompany">
    <thead>
        <tr>
            <th scope="col">Organisation Name</th>
            <th scope="col">Website</th>
           
            <th scope="col">Created By</th>
            <th scope="col">Updated By</th>
            <th scope="col">Subdomain</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CompanyList)
        {
            <tr>

                <td>
                    @item.OrganisationName
                </td>
                <td>@item.Website</td>
               
                
                <td>
                    @item.CreatedBy
                    <br>
                    @Html.DisplayDate(@item.CreatedOnUTC)

                </td>
                <td>
                    @item.UpdatedBy
                    <br>
                    @Html.DisplayDate(@item.UpdatedOnUTC)
                </td>
                <td>@item.Subdomain</td>
             
            </tr>
        }
    </tbody>

</table>

@section scripts{
    <script src="~/js/jquery.blockui.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.bootstrap5.js"></script>
    <script type="text/javascript">
        function Submit(){
            $.blockUI();
             document.location.href = "/EmployeeNTier/List";
        }
        new DataTable('#tblCompany');
    </script>
}

